@page "/"

<h1>Bienvenidos, Aplicaciòn de Patrones GoF</h1>

En este proyecto vera una pequeña muestra del patrón de diseño de tipo creacional Singleton el cual esta 
enfocado en crear un único punto de acceso para cada tipo de clase en la aplicación y tenga contacto con la base de datos.

<SurveyPrompt Title="Actividad #4" />
